:root {
  --White: #fff;
  --Txt-lightgray: rgba(255, 255, 255, 0.66);
  --Dark-primary: #28293e;
  --Dark-secondary: #58efb0;
  --Darker-green: #266b4f;
  --Light-border: hsla(0, 0%, 100%, 0.1);
  --Dark-third: #46bd8b;
  --Color: #e5ffe5;
}
