@use "../utils/" as u;
.about-me {
  width: 90%;
  max-width: u.rem(1440);
  display: flex;
  padding-block: 2rem;
  align-items: center;
  font-family: var(--Epilogue);
  justify-content: center;
  &__figure,
  .description {
    width: 50%;
    padding: u.rem(10);
  }
  &__figure {
    display: flex;
    align-items: center;
  }
  &__img {
    width: 100%;
  }
  .description {
    display: flex;
    flex-direction: column;
    &__name {
      text-transform: uppercase;
      font-size: var(--fs-500);
      color: var(--Dark-third);
      margin-block: u.rem(12);
    }
    &__profession {
      font-size: var(--fs-700);
      color: var(--Dark-primary);
      text-transform: capitalize;
      margin-bottom: 1.5rem;
    }
    &__title {
      font-size: var(--fs-600);
      color: var(--Dark-primary);
      font-weight: 400;
      margin-bottom: 1rem;
    }
    &__text {
      font-size: var(--fs-500);
    }
  }
}
@include u.breakpoint-down(medium) {
  .about-me {
    flex-direction: column;
    &__figure,
    .description {
      width: 95%;
      padding: u.rem(5);
      max-width: u.rem(550);
    }
  }
}
