@use "../utils/" as u;
.header {
  width: 100%;
  display: flex;
  align-items: center;
  height: 100px;
  background-color: var(--Dark-primary);
  justify-content: center;
  color: white;

  nav {
    max-width: u.rem(1440);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    .logo {
      display: flex;
      align-items: center;
      &__img {
        margin: u.rem(5);
        width: u.rem(200);
      }
    }
    .menu {
      display: none;
      padding: u.rem(3) u.rem(6) 0;
      border: solid 1px var(--Light-border);
      border-radius: u.rem(3);
      color: var(--White);
      &__icon {
        width: u.rem(30);
        height: u.rem(30);
      }
      &:hover {
        transition: color 0.3s ease-in-out;
        color: var(--Dark-secondary);
      }
    }
    .nav-bar {
      z-index: 100;
      width: 50%;
      list-style-type: none;
      justify-content: space-between;
      display: flex;

      &__link {
        font-weight: 600;
        color: var(--White);
        position: relative;
        text-decoration: none;
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 0.1em;
          background-color: var(--Dark-secondary);
          opacity: 0;
          transition: opacity 300ms, transform 300ms;
          opacity: 1;
          transform: scale(0);
          transform-origin: center;
        }
        &:hover::after,
        &:focus::after {
          transform: scale(1);
        }
      }
    }
    .contact {
      font-family: var(--Epilogue);
      padding: u.rem(10);
      border: 2px solid var(--White);
      border-radius: 5px;
      font-weight: 700;
      &:hover {
        cursor: pointer;
        border-color: var(--Dark-secondary);
        transition: border-color 0.3s ease;
      }
    }
  }
}

@include u.breakpoint-down(medium) {
  body {
  }
  .header {
    height: u.rem(60);
    nav {
      // flex-direction: column;
      .logo {
        &__img {
          width: u.rem(130);
        }
      }

      .nav-bar {
        background-color: whitesmoke;
        position: fixed;
        top: u.rem(60);
        left: 100%;
        width: 100%;
        height: calc(100% - u.rem(60));
        align-items: center;
        // visibility: hidden;
        flex-direction: column;
        justify-content: flex-start;
        li {
          margin-block: u.rem(20);
        }
        &__link {
          color: var(--Dark-primary);
        }
      }
      .contact {
        // visibility: hidden;
        position: fixed;
        top: u.rem(250);
        border: none;
        color: var(--Dark-primary);
        left: 100%;
        width: 100%;
        text-align: center;
      }
      .toggle {
        visibility: visible;
        left: 0;
        transition: left 0.2s ease-in-out;
      }

      .menu {
        display: block;
      }
    }
  }
}
