@use "../utils/" as u;
.introduction {
  font-family: var(--Epilogue);
  width: 95%;
  min-height: u.rem(550);
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  max-width: u.rem(1550);
  .about,
  .me-fig {
    min-height: u.rem(550);
    width: 48%;
    margin: 1rem;
  }
  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .name {
      font-weight: 600;
      font-size: var(--fs-500);
      color: var(--Dark-secondary);
    }
    .profession {
      font-size: var(--fs-xl);
      color: var(--White);
      margin-block: 2rem;
    }
    &__desc {
      margin-block: 1rem;
      color: var(--Txt-lightgray);
    }
    &__LinkBtns {
      display: flex;
      .explore-work {
        background-color: var(--Dark-secondary);
        font-weight: 600;
        color: var(--Dark-primary);
        font-size: var(--fs-400);
        &:hover {
          transition: all 250ms ease;
          background-color: var(--Dark-third);
          color: var(--White);
        }
      }
    }
    &__contact-me {
      background-color: var(--Dark-primary);
      font-weight: 600;
      font-size: var(--fs-400);
      color: var(--White);
      border: solid 2px var(--White);
      &:hover {
        transition: all 250ms ease;
        border-color: var(--Dark-secondary);
        color: var(--Dark-secondary);
      }
    }
  }
  .me-fig {
    display: flex;
    align-items: center;
    &__img {
      width: 100%;
    }
  }
}
@include u.breakpoint-down(medium) {
  .introduction {
    flex-direction: column-reverse;
    align-items: center;
    height: fit-content;
    padding-block: 1.2rem;
    .about,
    .me-fig {
      min-height: fit-content;
      width: 85%;
    }
    .me-fig {
      justify-content: center;
      &__img {
        max-width: u.rem(500);
      }
    }
    .about {
      max-width: u.rem(500);
      .name {
        margin-block: u.rem(15);
      }
      .profession {
        margin-block: 1.2rem;
        font-size: var(--fs-800);
      }
      &__LinkBtns {
        margin-block: u.rem(12);
        justify-content: space-evenly;
      }
    }
  }
}
