@use "../utils/" as u;
.mail-me {
  max-width: u.rem(420);
  height: u.rem(440);
  width: 50%;
  background-color: var(--White);
  border-radius: u.rem(10);
  padding: 1rem;
  font-family: var(--Epilogue);
  margin: 1rem;
  fieldset {
    border: none;
  }
  &__title {
    font-weight: 600;
    text-transform: capitalize;
    font-size: var(--fs-600);
    margin-block: 0.5rem;
    color: var(--Dark-primary);
  }
  label {
    font-size: var(--fs-500);
    font-weight: 500;
    text-transform: uppercase;
    margin: u.rem(20) 0 u.rem(4);
    color: var(--Dark-primary);
    display: block;
  }
  input,
  textarea {
    border-radius: u.rem(5);
    border: solid 1px var(--Darker-green);
    padding-inline: u.rem(8);
    font-size: var(--fs-500);
    width: 100%;
  }
  textarea {
    padding-block: u.rem(8);
  }
  input {
    height: u.rem(40);
    &::placeholder {
      color: var(--);
    }
  }
  &__submmit {
    border: none;
    color: var(--Dark-primary);
    font-size: var(--fs-500);
    font-weight: 600;
    margin-left: auto;
    background-color: var(--Dark-secondary);
    padding-block: u.rem(8);
    justify-self: right;
    &:hover {
      background-color: var(--Dark-third);
      color: var(--White);
    }
  }
}
@include u.breakpoint-down(medium) {
  .mail-me {
    width: 100%;
    margin: 0;
  }
}
