@use "../utils/" as u;
.work-card {
  position: relative;
  border-radius: u.rem(2);
  min-width: u.rem(450);
  width: u.rem(450);
  height: u.rem(500);
  border: solid 0.5px var(--Light-border);
  margin: u.rem(10) u.rem(25);
  overflow: hidden;
  &__img {
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
    filter: brightness(0.7) blur(1.25px);
    transition: 0.35s;
  }
  &:before > &__img {
    transform: scale(1);
    cursor: pointer;
  }
  &:hover > &__img {
    cursor: pointer;
    filter: brightness(1);
    transform: scale(1.075);
  }
  &__tag {
    padding: u.rem(6) u.rem(10);
    background-color: var(--Dark-secondary);
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 20%;
    font-weight: 600;
    left: 8%;
    border-radius: 2rem;
  }
  &__title {
    position: absolute;
    font-family: var(--Epilogue);
    padding: 1rem;
    font-weight: bolder;
    font-size: var(--fs-600);
    bottom: 5%;
    left: 5%;
    color: var(--White);
  }
}
