@use '../utils/' as u;
.notfound__title {
  font-size: var(--fs-700);
  margin-block: u.rem(40);
}
.notfound__img {
  min-width: u.rem(200);
  max-width: u.rem(650);
  width: 30%;
  margin-block: u.rem(10);
}
